*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* impostazioni header */

header{
    background-image: url(../img/jumbo.png);
    height: 100%;
    background-size: cover;
}

.nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav > * {
    padding: 10px;
    flex-basis: 20%;
}

.link{
    text-align: center;
}

/* COLORARE IL BACKGROUND SOLO ATTORNO AL TESTO! */
.login{
    text-align: right;
}


.jumbo{
    height: 500px;
    padding: 50px;
}

.card{
    text-align: center;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    color: white;
}

h1{
    font-size: 50px;
}

.card-text{
    line-height: 30px;
    padding: 40px 0 40px;
    font-size: 20px
}

.white{
    background-color: white;
}
.grey{
    background-color: rgb(35,39,42);
    color: white;
}
.blue{
    background-color: rgb(143,160,225);
    color: white;
}

.interaction{
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 20px;
    margin: 0 20px;
}

.beige{
    background-color: rgb(246,246,246);
}
.wave{
    display: block;
    color: rgb(246,246,246);
}
.downside {
    rotate: 0.5turn;
}

/* ALLINEARE LA FRECCETTA AL TESTO! */
.arrow { 
    font-size: 25px;
    position: relative;
}


/* impostazioni main */

section{
    height: 600px;
    padding: 60px 0;
}
section > .container{
    height: 100%;
}

.big-card{
    flex-basis: 55%;
}

.small-card{
    flex-basis: 45%;
}

.biggest-card{
    flex-basis: 100%;
}

.center{
    justify-content: center;
}

h2{
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 20px;
}
.small-card > div{
    line-height: 25px;
    font-size: 20px;
}

.last-title > div{
    line-height: 25px;
    font-size: 20px;
    padding: 0 200px;
}

.last-title{
    text-align: center;
}

.stars{
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.last-bottom{
    text-align: center;
    padding-bottom: 100px;
}

/* impostazioni footer */
footer{
    background-color: rgb(35,39,42);
}

.final{
    height: 600px;
    justify-content: space-around;
    border-bottom: 2px solid  rgb(143,160,225);
}
h4{
    color:rgb(115,137,218) ;
    font-size: 35px;
}

.column-max{
    flex-basis: 30%;
}

.column{
    flex-basis: 15%;
    line-height: 35px;
}

li{
    list-style-type: none;
    color: white;
}
ul{
    color: rgb(115,137,218);
}

/* SISTEMARE DIMENSIONE BANDIERA! */
.flag{
    color: white;
}

i{
    font-size: 20px;
    color: white;
    padding: 10px;
}
