*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* impostazioni header */

header{
    background-image: url(../img/jumbo.png);
    height: 100%;
    background-size: cover;
}

.nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav > * {
    padding: 10px;
    flex-basis: 20%;
}

.link{
    flex-grow: 1;
    text-align: center;
}

.login{
    text-align: right;
}

.jumbo{
    height: 500px;
    padding: 50px;
}

.card{
    text-align: center;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    color: white;
}

h1{
    font-size: 50px;
}

.card-text{
    line-height: 30px;
    padding: 40px 0 40px;
    font-size: 20px
}

.white{
    background-color: white;
}
.grey{
    background-color: rgb(35,39,42);
    color: white;
}

.interaction{
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 20px;
    margin: 0 20px;
}

.arrow {
    font-size: 25px;
    position: relative;
}


/* impostazioni main */


section{
    height: 600px;
    padding: 60px 0;
}
section > .container{
    height: 100%;
}

.big-card{
    flex-basis: 55%;
    /* background-color: aquamarine; */
}

.small-card{
    flex-basis: 45%;
    /* background-color: coral; */
}

.biggest-card{
    flex-basis: 100%;
}

h2{
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 20px;
}
.small-card > div{
    line-height: 25px;
    font-size: 20px;
}

.last-title > div{
    line-height: 25px;
    font-size: 20px;
    padding: 0 200px;
}

.last-title{
    text-align: center;
}

.stars{
    font-size: 30px;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 100%;
    padding-top: 200px;
}

/*
.greencard{
    background-color: rgb(34,140,33);
    height: 600px;
    width: 750px;
    border: 1px dashed black;
    margin: 50px;
}

.lastcard{
    background-color: rgb(239,128,128);
    height: 375px;
    width: 200px ;
    border: 1px dashed black;
    margin: 10px 0 30px;
}

.smallcard{
    background-color: rgb(33,177,169);
    height: 375px;
    width: calc(550px / 4);
    border: 1px dashed white;
    margin: 10px 0 30px;
}

/* impostazioni footer */
/*
.line{
    height: 1px;
    color: white;
}

.foot{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    background-color: rgb(35,39,42);
}
.endcard{
    margin-top: 10px;
    background-color: rgb(127,255,211);
    min-height: 50px;
    width: 750px;
    display: flex;
    justify-content: space-between;
}

div > p{
    background-color: rgb(255,182,193);
    display: inline-block;
    padding: 3px;
    margin: 15px 0 15px;
    border: 1px dashed black;
}

*/